/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    color: none;
    background: none;
}

/************************************** Utility Components ******************************************/
:root {
    font-size: 62.5%;

    --button-color: #0CA9B7;
}


body {
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 1.8;

    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

/* List Items */
li {
    list-style: none;
}

/* Anchor Tags */
a:link,
a:visited {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
/* Buttons */
button {
    padding: 10px 25px;
    background: var(--button-color);
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/* Content Section */
section {
    height: 100vh;
    width: 100%;
}

/* Page Transition Button */
.content__page--transition {
    position: absolute;
    height: 50px;
    width: 25px;
    bottom: 1%;
    left: 49.5%;

    border: 2px solid black;
    border-radius: 50px;
    background-color: transparent;
}
/* Scroll Effects */
.sticky {
    position: sticky;
    transition: all 0.2s ease-in;
    height: 6vh;
    background-color: whitesmoke;
}
::-webkit-scrollbar {
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.05s ease-in;
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: black;
    transition: all 0.05s ease-in;
}


/******************************* NavBar / Logo *********************/

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
}
main {
    flex-grow: 1;
}

header {
    flex-grow: 2;
}

nav#header__main-nav {
    height: 100%;
    width: 100%;
}

ul.header__main-nav--links {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: baseline;
}

ul.header__main-nav--links li {
    padding-right: 3vw;
}

ul.header__main-nav--links li a {
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: calc(1rem + 0.66667vw);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: black;

    transform: scaleX(0);

    transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
    top: 0;
    /* Transform origin is center by default */
    transform-origin: left;
}
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
    bottom: 0;
    transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
    transform: scaleX(1);
}






.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.logo h1 {
    border: 5px solid black;
    transition: 0.5s ease;
    padding: 2px;
    margin: 15px;
    font-size: 2rem;
    cursor: pointer;
}

.logo h1:hover {
    transform: rotate(360deg);
    border: 5px solid rgba(255, 255, 255, 0);
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

.logo h1:hover::after {
    content: 'Click-Me';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    clip-path: polygon(0 75%, 100% 75%, 100% 25%, 50% 25%, 33% 0, 33% 25%, 0 25%);
    height: calc(5vh + 1vw);
    width: calc(5vw + 3vh);
    font-size: calc(1rem + 0.45vw);
    top: 50px;
    left: 0px;
    animation: click 0.5s ease-in;
}

@keyframes click {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/******************************* Content Section ************************/

section#content {
    padding-top: calc(3vh + 2.4rem);
    display: flex;
    flex-direction: column;
    padding-top: 9vh;
}

section#content {
    justify-content: center;
}

.content__text {
    border-radius: 20px;
    box-shadow: 0px 0px 75px 0px rgba(0,0,0,1);
    background-color: white;
    padding: 30px;
    margin-right: calc(20vw + 5vh);
    margin-left: calc(20vw + 5vh);
    margin-bottom: calc(5vw + 1vh);
}

.content__text--1 h1 {
    font-size: calc(2rem + 1.66667vw);
}

.content__text--1 p {
    font-size: calc(1rem + 1vw);
}

.contact__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(1vh + 00.66667vw);
}
.contact__section--para {
    font-size: calc(0.5rem + 1vw);
}

button.contact {
    margin-top: calc(1vh + 00.66667vw);
}
/*********************************** Media Queries ******************/

@media screen and (max-width: 630px) {
    header#header {
        position: absolute;
        z-index: 2;
    }

    nav#header__main-nav {
        width: 30rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: -30rem;
        background-color: white;
        text-align: center;
    }

    .clicked {
        left: 55%;
    }

    .header__main-nav--hamburger {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
        background-color: white;
        padding: 1rem;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 0.3rem;
        background-color: black;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
    }

    ul.header__main-nav--links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    ul.header__main-nav--links li {
        margin-bottom: 4vh;
        margin-left: 6vw;
    }

    .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
    }

    ul.header__main-nav--links li {
        opacity: 0;
    }

    ul.header__main-nav--links li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
    }
    ul.header__main-nav--links li:nth-child(2) {
        transition: all 0.5s ease-in-out 0.4s;
    }
    ul.header__main-nav--links li:nth-child(3) {
        transition: all 0.5s ease-in-out 0.6s;
    }
    ul.header__main-nav--links li:nth-child(4) {
        transition: all 0.5s ease-in-out 0.8s;
    }
    ul.header__main-nav--links li:nth-child(5) {
        transition: all 0.5s ease-in-out 1s;
    }
    ul.header__main-nav--links li:nth-child(6) {
        transition: all 0.5s ease-in-out 1.2s;
    }

    ul.header__main-nav--links li.fade {
        opacity: 1;
    }

    section#showcase {
        background-position: 80%;
    }

    .content__text {
        background-color: white;
        padding: 20px;
        margin-right: calc(10vw + 0.6vh);
        margin-left: calc(8vw + 0.5vh);
    }
    .contact__section button {
        transform: scale(0.7);
    }
    .resume {
        margin-left: 20px;
    }

    .logo h1:hover::after {
        display: none;
    }
}































.sticky {
    position: sticky;
    transition: all 0.2s ease-in;
    height: 6vh;
    background-color: whitesmoke;
}



.scroll-up {
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.scroll-down {
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
